html, body {
    margin: 0;
    padding: 0;
}

.rectangle_head {
    width: 100%;
    height: 179px;
    background-color: #FFAC2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo_name {
    font-size: 64px;      /* Размер шрифта */
    color: #975B00;       /* Цвет текста */
    font-family: Merriweather;   /* Стиль шрифта */
}

.group_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.group_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.rectangle_text1 {
    width: 225px;
    height: 71px;
    border:1px solid #C97900;
    margin:auto;
    background: #C97900;
    box-sizing: border-box;
    border-radius: 25px; 
    text-align: center;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle_text2 {
    width: 176px;
    height: 71px;
    border:1px solid #C97900;
    margin:auto;
    background: #C97900;
    box-sizing: border-box;
    border-radius: 25px; 
    text-align: center;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle_main_head{
    width: 100%;
    height: 50px;
    border:1px solid #FFCD82;
    margin:auto;
    background: #FFCD82;
    box-sizing: border-box;
}

.rectangle_service{
    width: 426px;
    height: 147px;
    border:1px solid #FC9700;
    margin:auto;
    background: #FC9700;
    box-sizing: border-box;
    position: relative;  /* Установка позиции */
    top: -20px;  /* Смещение вверх на 20px */
    text-align: center;
    display: flex;
    justify-content: center;  /* Выравнивание содержимого по горизонтали */
    align-items: center;  /* Выравнивание содержимого по вертикали */
    
}

.manga_cafe{
    width: auto;
    height: 50px;
    margin: auto;
    box-sizing: border-box;
    position: relative;  /* Установка позиции */
    text-align: center;
    display: flex;
    justify-content: center;  /* Выравнивание содержимого по горизонтали */
    align-items: center;  /* Выравнивание содержимого по вертикали */
    position: relative;  /* Установка позиции */
    top: -10px;  /* Смещение вверх на 20px */
}

.line{
    width: 46px;  /* Длина линии */
    height: 3px;  /* Толщина линии */
    background-color: #FC9700;  /* Цвет линии */
    margin-left: 113px;
    margin-right: 113px;
}

.middle_text{
    display: flex;
    color: #653C00; 
    text-align: center;
    font-family: Merriweather, serif; 
    font-size: 29px; 
    width: 1013px;
    margin: auto;
    padding: 0;
    padding-top: 100;
    padding-bottom: 100;
}

.pictures_links{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.middle_text p {
    margin-top: 0;
    margin-bottom: 10;
}

.puctures{
    width: 446px; 
    color: #653C00; 
    font-family: Merriweather, serif; 
    font-size: 20px; 
    text-align: center;
}

.puctures p{
    margin-top: 1;
}

.posters, .all_movie {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;

}

.poster {
    text-align: center;
    justify-content: center;
    align-items: center;  
}

.poster_name {
    color: #653C00;
    font-family: Merriweather, serif; 
    font-size: 24px;
    text-align: center;
}

.poster_discr {
    color: #653C00;
    font-family: Merriweather, serif; 
    font-size: 20px;
    text-align: center;
}

.poster_name p, .poster_discr p {
    margin-top: 0;
    margin-bottom: 20px;
}

.open_more {
    width: 224px;
    height: 71px;
    border:1px solid #FC9700;
    background: #FC9700;
    border-radius: 25px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 8px;
}

.internet_discr {
    display: flex;
    justify-content: space-between;
}

.types {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 391px;
    text-align: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.circle {
    width: 127px;
    height: 127px;
    border-radius: 50%;
    border:1px solid #FC9700;
    background: #FC9700;
    text-align: center;
    display: flex;
    justify-content: center;  /* Выравнивание содержимого по горизонтали */
    align-items: center;  /* Выравнивание содержимого по вертикали */
}

.discr_head p {
    margin-bottom: 0;
}

.discr_body {
    margin: auto;
}

.movie_name {
    text-align: center;
}

.all_movie{
    padding-bottom: 5%;
}



.rectancle_footer{
    width: 100%;
    height: 64px;
    background-color: #321E00;
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Расположение дивов по краям */
}